h2 Resend confirmation instructions
= form_for(resource, as: resource_name, url: user_confirmation_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .field
    = f.label :email
    br
    = f.email_field :email, autofocus: true,
            value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email),
            :class => 'form-control'
  .actions
    = f.submit 'Resend confirmation instructions'
= render 'devise/shared/links'