.container-fluid
  .row
    .col-md-6.col-md-offset-3
      h2
        ' Edit
        = resource.username

      = form_for(resource, as: resource_name, url: registration_path(resource), html: { method: :put }) do |f|
        = devise_error_messages!

        .form-group
          = f.label :username
          br
          = f.text_field :username, autofocus: true, :class => 'form-control'

        .form-group
          = f.label :email
          br
          = f.email_field :email, autofocus: true, :class => 'form-control'

        .form-group
          = f.label :description
          br
          = f.text_field :description, autocomplete: 'off', :class => 'form-control'

        .form-group
          = f.label :is_student

          = f.check_box :is_student, :class => 'checkbox circle'

        .form-group
          = f.label :years_old
          br
          = f.text_field :years_old, :class => 'form-control'

        .form-group
          = f.label :current_password
          br
          = f.password_field :current_password, autocomplete: 'off', :class => 'form-control'

        .actions
          = f.submit 'Update', :class => 'btn btn-primary'