.container-fluid
  .row
    .col-md-6.col-md-offset-3
      h2 Sign up

      = form_for(resource, url: '/users') do |f|
        = devise_error_messages!

        .form-group
          = f.label :username
          br
          = f.text_field :username, autofocus: true, :class => 'form-control'

        .form-group
          = f.label :email
          br
          = f.email_field :email, autofocus: true, :class => 'form-control'

        .form-group
          = f.label :password
          = f.password_field :password, autocomplete: 'off', :class => 'form-control'

        .form-group
          = f.label :password_confirmation
          br
          = f.password_field :password_confirmation, autocomplete: 'off', :class => 'form-control'

        .form-group
          = f.label :description
          br
          = f.text_area :description, :class => 'form-control'

        .form-group
          = f.label :is_student

          = f.check_box :is_student, :class => 'checkbox circle'

        .form-group
          = f.label :years_old
          br
          = f.text_field :years_old, :class => 'form-control'

        .actions
          = f.submit 'Sign up', :class => 'btn btn-primary'