tr
  td = phrase.id
  td = link_to phrase.phrase, phrase_path(phrase)
  td = phrase.translation
  td = phrase.category
  td
    = link_to vote_phrase_path(phrase, vote: 'up'), method: :post do
      div
        span.glyphicon.glyphicon-chevron-up.upvote
    | #{ phrase.get_likes.size - phrase.get_dislikes.size }
    = link_to vote_phrase_path(phrase, vote: 'down'), method: :post do
      div
        span.glyphicon.glyphicon-chevron-down.downvote
  - if author
    td = link_to phrase.user.username, user_path(phrase.user)
  - else
  td
    - if phrase.author? current_user
      = link_to 'edit', edit_phrase_path(phrase), class: 'btn btn-success edit'
      '
      = link_to 'delete', phrase_path(phrase), class: 'btn btn-danger', method: :delete, data: {confirm: 'Are you sure?'}
    - else
      -

