h1 Listing phrases

table.table
  tr
    th Id
    th Phrase
    th Translation
    th Category
    th Votes
    th Author
    th Action

  - @phrases.each do |phrase|
    = render phrase, author: true

.text-center
  = will_paginate @phrases, renderer: BootstrapPagination::Rails
br
.actions.text-center
  = link_to 'Add phrase', new_phrase_path, :class => 'btn-lg btn btn-primary'
br
br

