h1 Listing users

table.table
  tr
    th Id
    th Username
    th Email
    th Created At
    th Updated At
    th Carma

  - @users.each do |user|
    = render user

.text-center
  = will_paginate @users, renderer: BootstrapPagination::Rails
  br
  .actions.text-center
    = link_to 'Add phrase', new_phrase_path, :class => 'btn-lg btn btn-primary'
br
br