.container-fluid
  .row
    .col-md-12
      h1 Username: #{@user.username}

      h3 User Phrases
      table.table.table-striped
        tr
          th Id
          th Phrase
          th Translation
          th Category
          th Votes
          - if @user == current_user
            th Actions
        - @phrases.each do |phrase|
          = render phrase, author: false

    .actions.text-center
      = link_to 'Add phrase', new_phrase_path, :class => 'btn-lg btn btn-primary'
