.container-fluid
  .row
    .col-md-6.col-md-offset-3
      h2 Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .form-group
          = f.label :email
          br
          = f.email_field :email, autofocus: true, :class => 'form-control'

        .form-group
          = f.label :password
          br
          = f.password_field :password, autocomplete: "off", :class => 'form-control'

        .actions
          = f.submit 'Log in', :class => 'btn btn-primary'
      = render 'devise/shared/links'