@import "bootstrap-sprockets"
@import "bootstrap"
@import "phrases"
@import "notifications"

.delete_phrase-disabled
  background-color: #5bc0de

.alert
  color: white
  margin-top: 20px
  background-color: rgba(255, 0, 0, 0.63)

.alert-notice
  background-color: #00b500

.field_with_errors
  color: red

input
  border-color: red

.m-t-l
  margin-top: 30px

.table th, td
  text-align: center

.table td
    vertical-align: middle !important
    font-size: 15px

.table .upvote
    color: green

.table .downvote
    color: red

.my_footer
  position: absolute
  bottom: 0
  left: 50%
  transform: translateX(-50%)

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 //*= require_tree .
 //*= require_self
 */

