.navbar.row-fluid.text-center
  .navbar-inner
    .container
      footer.footer
        .small.my_footer#footerRight
          | Copyright © #{Time.now.year} &nbsp;
          = link_to 'Zalivan Vitaly', 'https://bitbucket.org/zalivanvit', target: '_blank'
          = link_to ' Dunice Alliance ', 'https://dunice.net/', target: '_blank'