doctype html
html
  head
    title Zalivan
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    = stylesheet_link_tag "application", media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
    = action_cable_meta_tag

  body.container-fluid
    .row
      = render 'layouts/navigation'
      .col-md-6.col-md-offset-3
        - flash.each do |key, value|
          div class="alert alert-#{key}"
            = value

        = yield
        br
        = render 'layouts/footer'